<!-- All Practices -->

<!-- Different Uses of String Interpolation -->

<!-- Simple dyanamic -->
<h1>
  My Name is {{dynamic}}
</h1>
<br><br>

<!-- We can Perform many operation -->
{{12+2}}
<br><br>

<!-- We can perform concatenation -->
{{"Welcome "+dynamic}}
<br><br>
<!-- We can use js methods too -->
{{dynamic.length}}
<br><br>
<!-- We can use js methods too -->
{{dynamic.toUpperCase()}}
<br><br>

<!-- By Using Methods -->
{{myMethod()}}
<br><br>

<!-- By Using Ternary Opertaor -->
My Appstatus is {{appstatus ? "Online":"Offline"}}
<br><br>

<!-- By Using Ternary Opertaor with all dynamic-->
My Appstatus is {{appstatus ? "status1":"status2"}}
